body{
    background-color: rgb(255, 237, 213);
}
h1 {
    background-color: aqua;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 160%;
}
p{
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 200%;
}